{
  "extends": ["eslint:recommended", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  }
}
